@inherits ConsoleAssetViewBase

<MudStack Spacing="0" Row="true">

    @* text *@
    <MudText Typo="Typo.h5" Class="flex-grow-1">@Localizer.ConsoleTitle</MudText>

    @* actions *@
    <div class="d-flex justify-end align-end">

        @* register *@
        <MudTooltip Delay="500" Text="@Localizer.RegisterHelp" Placement="Placement.Left">
            <MudIcon Icon="@Icons.Material.Outlined.Info" Style="zoom: 0.8" />
        </MudTooltip>

    </div>
</MudStack>
